.card {
  width: 100%;
  position: relative;
}

.card__image {
  width: 100%;
  margin-bottom: 10px;
}

.card__contents-wrapper {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card__labels {
  display: inline-flex;
  margin-bottom: 12px;
}

.card__labels .label__wrapper {
  padding-right: 10px;
  display: block;
}

.card__title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.card__description {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

.card__button-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
