// Tabs

.tabs {
  width: 100%;
}

// Desktop Nav

.tabs__desktop-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

@include breakpoint-up(md) {
  .tabs__desktop-nav {
    display: block;
  }
}

// Desktop Nav Item

.tabs__desktop-nav__item {
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.tabs__desktop-nav__item:hover {
  background-color: var(--almost-white);
}

.tabs__desktop-nav__item.active {
  background-color: var(--almost-white);
  color: var(--black);
}

// Body

.tabs__body {
  background-color: var(--white);
  padding: 30px;
}

@include breakpoint-up(md) {
  .tabs__body {
    background-color: var(--almost-white);
    padding: 30px;
  }
}

// Body Item

.tabs__body__item {
  @extend .pb3;
  @extend .pb0-md;
}

.tabs__body__item:not(.active) {
  display: block;

  .tabs__content {
    display: none;
  }
}

@include breakpoint-up(md) {
  .tabs__body__item:not(.active) {
    display: none;

    .tabs__content {
      display: block;
    }
  }
}

// Mobile Nav Item

.tabs__mobile-nav__item {
  transition: background-color 0.3s ease-in-out;
  display: block;
  background: var(--almost-white);
  color: var(--black);
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

@include breakpoint-up(md) {
  .tabs__mobile-nav__item {
    display: none;
  }
}
