.docs-nav {
  display: none;
  width: 100%;
  max-width: 280px;
  min-height: 100vh;

  a {
    color: var(--black);
    text-decoration: none;
  }
}

.docs-nav__inner {
  min-height: 100%;
}

@include breakpoint-up(md) {
  .docs-nav {
    display: block;
  }
}

.docs-main {
  width: 100%;
}

@include breakpoint-up(md) {
  .docs-main {
    width: calc(100% - 280px);
  }
}
