.skeleton {
  &::before {
    content: '';
    transition: opacity 0.3s ease-in;
    opacity: 0;
    position: absolute;
    top: -5px;
    left: -5px;
    display: block;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 6px;
    z-index: 1090;
    pointer-events: none;
    background: linear-gradient(
      -90deg,
      var(--light-grey) 0%,
      var(--almost-white) 10%,
      var(--light-grey) 100%
    );
    background-size: 400% 400%;
    animation: pulse 1.5s ease-in infinite;

    @keyframes pulse {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: -135% 0%;
      }
    }
  }
}

.skeleton-active {
  box-shadow: 0;

  &::before {
    opacity: 1;
    pointer-events: auto;
  }
}

.skeleton-disabled {
  &::before {
    content: '';
    opacity: 0;
    transition-delay: 1s;
  }
}
