//== Typography

$npl-t-primary: Arial, Helvetica, sans-serif !default;
$npl-t-secondary: Arial, Helvetica, sans-serif !default;

$npl-f1: 3rem !default;
$npl-f2: 2.25rem !default;
$npl-f3: 1.5rem !default;
$npl-f4: 1.25rem !default;
$npl-f5: 1rem !default;
$npl-f6: 0.875rem !default;
$npl-f7: 0.75rem !default;

//== Grid

$npl-grid-breakpoints: (
  sm: 650px,
  md: 950px,
  lg: 1250px,
  xl: 1550px
) !default;

//== Colors

$npl-colors: (
  black: #000000,
  white: #ffffff
) !default;
