.copy {
  opacity: 0;
  animation: npl-fade-in 0.3s forwards;
  position: relative;
  display: block;
  font-family: $npl-t-secondary;

  &.small {
    font-size: $npl-f7;
  }

  &.medium {
    font-size: $npl-f6;
  }

  &.large {
    font-size: $npl-f5;
  }

  &.x-large {
    font-size: $npl-f4;
  }
}
