.copy {
  position: relative;
  display: block;
  // opacity: 0;
  // animation: fade-in 0.3s forwards;

  @each $color, $hex in $npl-colors {
    &.#{$color} {
      color: $hex;
    }
  }

  &.small {
    font-size: $npl-f7;
  }

  &.medium {
    font-size: $npl-f6;
  }

  &.large {
    font-size: $npl-f5;
  }

  &.x-large {
    font-size: $npl-f4;
  }
}
