.label__wrapper {
  .label {
    transition: all 0.3s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: $npl-f6;

    @each $color, $hex in $npl-colors {
      &.#{$color} {
        color: $hex;
      }

      &.bg-#{$color} {
        background-color: $hex;
      }
    }
  }
}
