.radio__control {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: $npl-t-secondary;
  line-height: $npl-lh-copy;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
  font-family: $npl-t-secondary;
  line-height: $npl-lh-copy;
}

.radio__indicator {
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  min-width: 20px;
  background: $npl-base-white;
  border: 1px solid $npl-base-black;
  border-radius: 100%;
  font-family: $npl-t-secondary;
  line-height: $npl-lh-copy;
}

.radio__label {
  padding-top: 0;
  padding-left: 12px;
  display: inline-block;
  font-family: $npl-t-secondary;
  line-height: $npl-lh-copy;
  font-size: $npl-f6;
  color: $npl-base-black;
}

.radio__indicator:after {
  transition: all 0.3s ease-in-out;
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  left: 8px;
  top: 5px;
  width: 3px;
  height: 8px;
  border: solid $npl-base-white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.radio__control .radio__input:checked ~ .radio__indicator:after {
  opacity: 1;
}

// Hover
.radio__control:hover
  .radio__input:not(:checked):not(:disabled)
  ~ .radio__indicator:after {
  opacity: 1;
  border-color: $npl-base-grey;
}

// Checked
.radio__control .radio__input:checked ~ .radio__indicator {
  background: $npl-base-black;
}

// Disabled
.radio__control .radio__input:disabled ~ .radio__indicator {
  background: $npl-base-almost-white;
  opacity: 0.4;
  cursor: not-allowed;
}

.radio__control .radio__input:disabled ~ .radio__label {
  opacity: 0.4;
  cursor: not-allowed;
}
